body{
	font-family: 'Muli', sans-serif;
	font-weight:300;
	color: #000;
	padding:0;
	top:0;
	margin:0;
}

* {
   margin: 0px;
   padding: 0px;
}


/*utility classes*/
.hidden{
	display:none;
}

.fixedPos{
	position:fixed;
}

a{
	color:#000;
	text-decoration:none;
}

.button:hover{
	cursor:pointer;
}

/*mobile first layout*/

.navCats li{
	display:block;
	padding:.4em;
	margin: 0 5% .1em 5%;
	text-align:center;
	background-color:#CFC;
	border-radius:.4em;
}

.navCats li:hover{
	background-color:#DFD;
}

#navi{
	margin: 0 1em 0;
	font-size:1.2em;
}

#logoimage{
	position:relative;
	background-image: url(korlogo_hz.png);
	background-size:100%;
	width:200px;
	height:34px;
	z-index:11;
	margin: auto;
}

#navContainer{
	position:absolute;
	width:100%;
	top:0;
	box-shadow: 0px 1px 15px;
	clear:both;
	z-index:10;
	background-color:#fff;
	padding-bottom:.2em;
}

#mainContent{
	position:relative;
	text-align:center;
	padding-top:10px;
	top:280px;
}

#menuContainer{
	position:fixed; 
	top:0;
	right:0;
	z-index:9;
	height: 38px;
	box-shadow: 0px 0px 10px;
	background-color: #fff;
	border-bottom-left-radius: 15px;
}

#menuLogo{
	width: 200px;
	height:38px;
	background-image: url(korlogo_hz.png);
	display:inline-block;
	margin-right:-10px;
	z-index:8;
	border-bottom-left-radius: 15px;
}

#navReset{
	width: 60px;
	height:38px;
	background-image: url(img/menu.png);
	display:inline-block;
	z-index:8;
}

#mainContent section{
	padding: 0 1em 1em;
}

#mainContent aside{
	margin-bottom:1em;
	background-color:#F8F8F8;
	border-radius:20px;
}

#splashTop {
	height:350px;
	background-color:#000;
	position:relative;
}

.splashContainer{
	position:absolute;
	width:100%;
	max-width:500px;
	height:33%;
	border: 2px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-radius: 15px;
	box-sizing: border-box;
}

.card {
	font-size:1.5em;
	color:#fff;
	position:absolute;
	background: rgba(0,0,0,.75);
	width: 50%;
	bottom:0;
	padding-left:1em;
	border-bottom-left-radius:10px;
	border-top-right-radius: 15px;
	z-index:0;
}

#splashFight{
	top:66%;
	background-image: url(img/cards_fight.jpg);
	background-size: 100%;
}

#splashVision{
	top:33%;
	background-image: url(img/cards_vision.jpg);
	background-size: 100%;
}

#splashJuicing{
	top:0%;
	background-image: url(img/cards_juicing.jpg);
	background-size: 100%;
}

#theRest{
	position:relative;
}

.sectionText{
	text-align:justify;
	padding: 1em;
	margin-top:1em;
}

/*#testimonialsText{
	margin: 0 2em 0;
}*/

/*generalized selectors; look into simplifying/specifying*/
#mainContent img{
	width:90%;
	padding: 2em 0 2em;
}

ol {
	padding: 1em 2em 1em;
}

ol li{
	font-style:italic;
	text-align:left;
	/*font-size:.8em;*/
}

p strong{
	text-align:center !important;
}

h1{
	margin-top:38px;
	background-color:#CFC;
	border-radius:15px;
}

dl, .sectionText ul, .sectionText li{
	margin: 1em;
}

dt{
	margin: 1em auto .5em;
}

dd{
	margin-left:2em;
}


/*layout if mid-size screen*/
@media only screen and (min-width: 480px) and (max-width: 760px){
	#navi{
		margin-left:25%;
		position:relative;
		float:left;
		text-align:center;
	}

	.navCats li{
		display:block;
		margin:0;
		background-color:#fff;
		padding: 0 1% 0 1%;
	}

	#logoimage{
		float:right;
		background-image: url(korlogo.png);
		width:200px;
		height:120px;
	}

	#navContainer{
		position:absolute;
		top:0;
	}

	#mainContent{
		top:155px;
	}

	#navReset{
		top:0;
	}

	#mainContent img{
		max-width:585px;
	}

	h1{
		font-size:2em;
	}

}


/*layout if full-screen*/
@media only screen and (min-width: 761px){
	#navi{
		bottom:0;
		margin:0 1em 1em;
		position:absolute;
		float:left;
		width:100%;
	}

	.navCats li{
		display:inline-block;
		margin:0;
		background-color:#fff;
		padding: 0 1% 0 1%;
	}

	#logoimage{
		float:right;
		background-image: url(korlogo.png);
		width:200px;
		height:120px;
	}

	#navContainer{
		position:fixed;
		padding-right:200px;
		top:0;
	}

	#mainContent{
		top:0;
		max-width: 900px;
		margin:125px auto auto;
	}
	#navReset{
		display:none;
	}

	img{
		width:auto;
	}

	h1{
		font-size:3em;
	}
}