body{
	font-family: 'Muli', sans-serif;
	font-weight:300;
	color: #000;
	padding:0;
	top:0;
	margin:0;
}

* {
   margin: 0px;
   padding: 0px;
}


/*utility classes*/
.hidden{
	display:none !important;
}

.fixedPos{
	position:fixed;
}

a{
	color:#000;
	text-decoration:none;
}

.navButton:hover, .button:hover, .buttonHighlight{
	cursor:pointer;
	background-color:#DFD !important;
}

/*mobile first layout*/

.navButton{
	display:block;
	padding:.4em;
	margin: 0 5% .1em 5%;
	text-align:center;
	background-color:#CFC;
	border-radius:.4em;
}

#navi{
	margin: 0 1em 0;
	font-size:1.2em;
}

#logoimage{
	position:relative;
	background-image: url(korlogo_hz.png);
	background-size:100%;
	width:200px;
	height:34px;
	z-index:11;
	margin: auto;
}

#navContainer{
	position:absolute;
	width:100%;
	top:0;
	box-shadow: 0px 1px 15px;
	clear:both;
	z-index:10;
	background-color:#fff;
	padding-bottom:.2em;
}

#mainContent{
	position:relative;
	text-align:center;
	padding-top:10px;
	/*top:280px;*/
}

#menuContainer{
	position:fixed; 
	top:0;
	right:0;
	z-index:9;
	height: 38px;
	box-shadow: 0px 0px 10px;
	background-color: #fff;
	border-bottom-left-radius: 15px;
}

#menuLogo{
	height:38px;
	background-image: url(korlogo_hz.png);
	display:inline-block;
	margin-right:-10px;
	z-index:8;
	border-bottom-left-radius: 15px;
}

/*menuLogo variants*/
.menuLogo_long{
	width:200px;
}

.menuLogo_short{
	/*background-image: url(img/korlogo_tiny.png) no-repeat top left;*/
	width:75px;
}

#navReset{
	width: 60px;
	height:38px;
	background-image: url(img/menu.png);
	display:inline-block;
	z-index:8;
}

#navClose{
	width: 20px;
	height:20px;
	background-image: url(img/close.png);
	position:absolute;
	bottom:0;
	right:0;
	z-index:20;
}

#mainContent section{
	padding: 0 1em 1em;
}

#mainContent aside{
	margin-bottom:1em;
	background-color:#F8F8F8;
	border-radius:20px;
}

#splashTop {
	height:350px;
	background-color:#000;
	position:relative;
	width:100%;
	margin:auto;
}

#splashSeparator{
	background-color:#000;
	height:60px;
	z-index:100;
}

.splashContainer{
	position:relative;
	width:100%;
	max-width:500px;
	height:33%;
	border: 2px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-radius: 15px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	text-align:left;
	margin: 0 auto;
}

.card {
	font-size:1em;
	color:#fff;
	position:absolute;
	background: rgba(0,0,0,.75);
	width: 75%;
	bottom:0;
	left:0;
	padding-left:.5em;
	border-bottom-left-radius:10px;
	border-top-right-radius: 15px;
	z-index:0;
}

#fightSplash{
	background-image: url(img/cards_fight.jpg);
	background-size: 100%;
	background-position: center bottom !important;
}

#visionSplash{
	background-image: url(img/cards_vision.jpg);
	background-size: 100%;
}

#juicingSplash{
	background-image: url(img/cards_juicing.jpg);
	background-size: 100%;
}

.cardText{
	color:#fff;
	display:none;
	text-align:left;
}

.socialTab, .mottoContainer{
	display:none;
}

#theRest{
	position:relative;
}

.sectionText{
	text-align:justify;
	padding: 1em;
	margin-top:1em;
}

/*#testimonialsText{
	margin: 0 2em 0;
}*/

/*generalized selectors; look into simplifying/specifying*/
#mainContent img{
	width:90%;
	max-width:300px;
	padding: 2em 0 2em;
}

ol {
	padding: 1em 2em 1em;
}

ol li{
	font-style:italic;
	text-align:left;
	/*font-size:.8em;*/
}

p strong{
	text-align:center !important;
}

h1{
	margin-top:38px;
	background-color:#CFC;
	border-radius:15px;
}

dl, .sectionText ul, .sectionText li{
	margin: 1em;
}

dt{
	margin: 1em auto .5em;
}

dd{
	margin-left:2em;
}

#footerText{
	text-align:center;
	margin-top:600px;
}


/*layout if mid-size screen*/
@media only screen and (min-width: 480px) and (max-width: 760px) and (orientation:landscape){
	#navi{
		margin-left:25%;
		position:relative;
		float:left;
		text-align:center;
	}

	.navButton{
		display:block;
		margin:0;
		background-color:#fff;
		padding: 0 1% 0 1%;
	}

	#logoimage{
		float:right;
		background-image: url(korlogo.png);
		width:200px;
		height:120px;
	}

	#navContainer{
		position:absolute;
		top:0;
	}

	#mainContent{
		top:155px;
	}

	#navReset{
		top:0;
	}

	h1{
		font-size:2em;
	}

	.splashContainer{
		width:40%;
		height:40%;
		position:absolute;
	}

	#visionSplash{
		top:30%;
		left:30%;
		z-index:1;
	}

	#juicingSplash{
		top:0%;
	}

	#fightSplash{
		top:60%;
		left: 60%;
	}

}

@media only screen and (max-height: 650px){
	.mottoContainer{
		display:none !important;
	}
}

/*layout if full-screen*/
@media only screen and (min-width: 761px){
	#navi{
		bottom:0;
		margin:0 1em 1em;
		position:absolute;
		float:left;
		width:100%;
	}

	.navButton{
		display:inline-block;
		margin:0;
		background-color:#fff;
		padding: .5em 1% .5em 1%;
	}

	#logoimage{
		float:right;
		background-image: url(korlogo.png);
		width:200px;
		height:120px;
	}

	#navContainer{
		position:fixed;
		display:inline !important;
		padding-right:200px;
		top:0;
	}

	#mainContent{
		top:0;
		max-width: 900px;
		margin:125px auto auto;
	}
	#navReset{
		display:none;
	}

	#mainContent img {
		max-width:470px;
	}

	h1{
		font-size:3em;
	}


	#splashTop{
		margin-top:120px;
		text-align:center;
	}

	.splashContainer{
		display:inline-block;
		position:relative;
		height:50%;
		max-height:230px;
		width:30%;
		max-width:312px;
		top:10% !important;
	}

	#juicingSplash, #visionSplash, #fightSplash{
		bottom:auto;
	}

	.card{
		font-size:1.1em;
	}

	.cardText{
		display:inline-block;
		position:absolute;
		top:110%;
		text-align:left;
		font-size:.9em;
		/*need to figure out why this was needed */
		width:90%;
		left:5%;
		padding:;
	}

	.socialTab{
		display:inline;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		z-index:1;
		text-align:center;
	}

	.socialButton{
		margin:.5em;
		display:inline-block;
	}

	.mottoContainer{
		display:block;
		width:100%;
		position:absolute;
		bottom:75px;
		font-size:2em;
		color:white;
		text-align:center;
		text-shadow: .1em .1em .5em;
	}


}